# Dependencias
node_modules/

# Compilación
dist/
dist-ssr/
*.local

# Configuración del editor y del sistema
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de la IA
.gemini/
